body {
  background-color: gainsboro;
}

#guesses {
  display: none;
}

#word span {
  font-size: 1.5em;
  padding: 0.15em;
}

@media only screen and (min-width: 1025px) {
  #mobile-input {
    visibility: hidden;
  }
}
