body {
  background-color: gainsboro;
}

#guesses {
  display: none;
}

#word span {
  font-size: 1.5em;
  padding: 0.15em;
}

#mobile-input {
  visibility: hidden;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

input[type="text"] {
  background-color: #0d6efd;
}

.form-control::placeholder {
  color: white;
  opacity: 1;
  text-align: center;
}

.form-control:focus {
  background-color: #0d6efd;
  caret-color: transparent;
}

.padding-right {
  padding-right: 1em;
}
