body {
  background-color: gainsboro;
}

#guesses {
  display: none;
}

#word span {
  font-size: 1.5em;
  padding: 0.15em;
}

/* @media only screen and (min-width: 1025px) {
  #mobile-input {
    visibility: hidden;
  }
} */

#mobile-input {
  visibility: hidden;
}

input[type="text"] {
  background-color: #0d6efd;
}

.form-control::placeholder {
  color: white;
  opacity: 1;
  text-align: center;
}

.form-control:focus {
  background-color: #0d6efd;
  caret-color: transparent;
}
