body {
  background-color: gainsboro;
}

main {
  display: none;
}

#startGame {
  background-color: green;
  color: white;
  font-size: 1em;
  border-radius: 0.5em;
  padding: 0.5em;
}

#word {
  font-size: 2em;
}
